* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body { 
    background-color: antiquewhite;
    font-family: sans-serif;

}

main { 
    background-color: white;
    width:800px;
    height:900px;
    margin:auto;
    text-align:center;
}

main h1 { 
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top:20px;
}

.box { 
    display: flex;
    flex-direction: column;
    
}

label { 
    padding:5px;
    font-size:1.3rem
}

input { 
    margin:5px;
    padding:8px;
    text-align: center;
    justify-content: center;
}

.botao { 
    width:200px;
    display: flex;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    
}
img { 
    width:250px;
    height:250px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.219);
    margin-top:20px;


}

#txt1 { 
    margin-bottom:20px;
}

#res { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

