* { 
    margin: 0;
    padding: 0;
}

body { 
    background-color: white;
}

#container { 
            height:800px;
            background-color: salmon;
            background-image: url(img/saint_seya_netflix.png);
            background-attachment: fixed;
            padding: 10px;
            position: relative;
            background-size: 100% 100%;
            

}

#conteudo { 
            background-color: rgb(255, 255, 255);
            width: 300px;
            height: 400px;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.322);
            border-radius: 20px;
            position: relative;

            left: 50% ;
            top:  50%;

            transform: translate(73%, -94%);}


article > h1 { 
        text-align:center;
        font-size: 20px;
}