
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@font-face {
    font-family: 'acai';
    src: url('fontes/armonioso/Armonioso-trial.otf') format('truetype');
  }
* { 
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-size: 100%;

}
/* Configurações */
nav, ul { list-style: none}
a { text-decoration: none;
    cursor: pointer;
    
}

img  { 
    width: 90px;
   
}

header { 
    position: absolute;
    top:0;
    left:0;
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding:10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274); 
    opacity: 1;    

}

nav { 
    display:flex
}

li a { margin:0 0 0 50px;
    color: #B067E0;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    transition-duration: 0.3s;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.548); 
}

li a:last-child { 
    margin-right:20px;
}

li > a:hover { 
    color: #632A1F;
}

@media (max-width:700px) { 
    header { 
        flex-direction: column;
    } 
    header img { margin-bottom: 15px;
    }
}

.hero { 
    background-image: url(img/aaaa.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media (max-width:850px) { 
    .hero { 
        background-position: center;

    }
    .hero h1 { 
        font-size: 1.5rem;
        margin-top: 60px;
    }
    .hero p { 
        font-size: 1.5rem;
    }
}


.hero h1 {
        font-size:3.5rem;
        text-align:center;
        color: #ffe000; 
        font-family:'acai', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        text-shadow:1px 1px 1px rgba(0, 0, 0, 0.774);
        margin-bottom: 10px;

} 

.hero p { 
        font-size: 2.5rem;
        font-family:'acai', Verdana, Geneva, Tahoma, sans-serif;
        color: #ffe000; 
        margin-bottom: 20px;
        text-shadow:1px 1px 1px rgba(0, 0, 0, 0.774);

}

.hero a { 
    color: #ffe000; 
    font-size:1.5rem;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.774);

    
}

.hero .btn { 
    background-color: #7a15ffde;
    border-radius: 26px;
    padding: 25px 50px;
    font-family: sans-serif;
    font-weight: bolder;
    
}
.hero .btn:hover { 
    background-color: #310072;
    transition-duration: 0.6s;



}